.cocalc-account-button:hover {
  text-decoration: none;
  background-color: var(--cocalc-col-gray-ll);
  outline: none;
}
.cocalc-account-button:focus {
  text-decoration: none;
  background-color: var(--cocalc-col-gray-ll);
  outline: none;
}
