a {
  color: var(--cocalc-col-antd-link-blue);
}

html {
  overflow: hidden;
}

.ant-popover-content .ant-popover-arrow {
  border-color: var(--cocalc-col-gray-l) !important;
  z-index: -1 !important;
}

.ant-input-group > span.ant-input-group-addon {
  padding: 0;
  border: 0;
}
