.smc-top-bar {
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  padding: 0px;
  margin: 0px;
  z-index: 100;
  border-radius: 0;
  width: 100%;
  background-color: var(--cocalc-ui-inset);
}

.cocalc-top-bar-element:hover {
  background-color: var(--cocalc-ui-hover);
}

.cocalc-project-tabs.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  padding-left: 6px;
  padding-right: 4px;
}

.cocalc-project-tabs .ant-tabs-tab-btn {
  min-width: 0;
}

.cocalc-project-tabs .ant-tabs-tab-remove {
  margin-left: 2px;
  padding-inline: 2px;
}
