# Optional overlay for a CoCalc Rocket bay runtime bundle.
#
# Use this when /opt/cocalc/bay/current contains a packaged bay runtime built
# by packages/rocket/bay/build-bundle.sh.

COCALC_BAY_PROJECT_HOST_MAIN=/opt/cocalc/bay/current/runtime/project-host/index.js
COCALC_BAY_HUB_MAIN=/opt/cocalc/bay/current/runtime/hub/index.js
COCALC_BAY_MIGRATE_MAIN=/opt/cocalc/bay/current/runtime/migrate-schema/index.js
COCALC_BUNDLE_DIR=/opt/cocalc/bay/current/runtime
COCALC_API_V2_ROUTES_BUNDLE=/opt/cocalc/bay/current/runtime/http-api-routes/index.js
COCALC_PROJECT_HOST_SOFTWARE_PACKAGES_ROOT=/opt/cocalc/bay/current/runtime/packages
COCALC_PROJECT_HOST_CONAT_ROUTER_LOCAL_CLUSTER_SIZE=1

COCALC_BAY_MIGRATE_CMD='"$COCALC_BAY_NODE_BIN" "$COCALC_BAY_MIGRATE_MAIN"'
COCALC_BAY_ROUTER_CMD='HOST="$COCALC_BAY_ROUTER_HOST" PORT="$COCALC_BAY_ROUTER_PORT" COCALC_PROJECT_HOST_CONAT_PASSWORD_PATH="$SECRETS/conat-password" COCALC_PROJECT_HOST_CONAT_ROUTER_HOST="$COCALC_BAY_ROUTER_HOST" COCALC_PROJECT_HOST_CONAT_ROUTER_PORT="$COCALC_BAY_ROUTER_PORT" COCALC_PROJECT_HOST_CONAT_ROUTER_DAEMON=1 "$COCALC_BAY_NODE_BIN" "$COCALC_BAY_PROJECT_HOST_MAIN"'
COCALC_BAY_PERSIST_CMD='HOST="$COCALC_BAY_PERSIST_HOST" PORT="$COCALC_BAY_PERSIST_PORT" COCALC_PROJECT_HOST_CONAT_PASSWORD_PATH="$SECRETS/conat-password" COCALC_PROJECT_HOST_CONAT_ROUTER_HOST="$COCALC_BAY_ROUTER_HOST" COCALC_PROJECT_HOST_CONAT_ROUTER_PORT="$COCALC_BAY_ROUTER_PORT" COCALC_PROJECT_HOST_CONAT_PERSIST_HEALTH_HOST="$COCALC_BAY_PERSIST_HOST" COCALC_PROJECT_HOST_CONAT_PERSIST_HEALTH_PORT="$COCALC_BAY_PERSIST_PORT" COCALC_PROJECT_HOST_CONAT_PERSIST_DAEMON=1 "$COCALC_BAY_NODE_BIN" "$COCALC_BAY_PROJECT_HOST_MAIN"'
COCALC_BAY_HUB_CMD='NO_RSPACK_DEV_SERVER=1 COCALC_USE_API_V2_MANIFEST=1 CONAT_CLUSTER_PORT="$COCALC_BAY_WORKER_CONAT_PORT" CONAT_SERVER="http://127.0.0.1:${COCALC_BAY_WORKER_CONAT_PORT}" PORT="$COCALC_BAY_WORKER_PORT" "$COCALC_BAY_NODE_BIN" "$COCALC_BAY_HUB_MAIN" --conat-server --proxy-server --hostname="$COCALC_BAY_HUB_BIND_HOST"'
