/*
 *  This file is part of CoCalc: Copyright © 2020 Sagemath, Inc.
 *  License: MS-RSL – see LICENSE.md for details
 */

@use 'colors'

.smc-top-bar
  position        : relative
  top             : 0px
  right           : 0px
  left            : 0px
  display         : flex
  padding         : 0px
  margin          : 0px
  z-index         : 100
  border-radius   : 0
  width           : 100%
  background-color: colors.$COL_GRAY_L0

.cocalc-top-bar-element:hover
  background-color: colors.$COL_TOP_BAR_HOVER
