.cocalc-git-diff-line-comment-button {
  opacity: 0;
  pointer-events: none;
}

.cocalc-git-diff-line:hover .cocalc-git-diff-line-comment-button,
.cocalc-git-diff-line:focus-within .cocalc-git-diff-line-comment-button {
  opacity: 1;
  pointer-events: auto;
}

.cocalc-git-diff-line-text {
  user-select: text;
}
