name: Test

# newer commits in the same PR abort running ones for the same workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run the build."
        required: false
        default: false

jobs:
  test:
    runs-on: runner

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version:
          - "24"

    steps:
      - uses: actions/checkout@v4

      - name: install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
          cache-dependency-path: src/packages/pnpm-lock.yaml

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y btrfs-progs python3

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ runner.os }}-py3-${{ hashFiles('src/requirements.txt') }}
          restore-keys: |
            pip-${{ runner.os }}-py3-

      - name: Set up Python venv and Jupyter kernel
        run: |
          python3 -m pip install --upgrade pip virtualenv
          python3 -m virtualenv venv
          source venv/bin/activate
          pip install ipykernel requests yapf
          python -m ipykernel install --prefix=./jupyter-local --name python3-local --display-name "Python 3 (Local)"

      - name: build
        run: cd src && pnpm build-dev

      - name: lint frontend
        run: cd src && pnpm -C packages/frontend run lint

      - name: test
        timeout-minutes: 15
        env:
          COCALC_RUNTIME_STORAGE_ALLOW_DIRECT: "yes"
        run: source venv/bin/activate && cd src && pnpm test
